
/* Gallery */


.gallery img{
  margin:45px; /* внешние отступы картинок */
  border:3px solid #fff; /* рамка картинок */
 }
 a.photo:hover img{
  border:3px solid #034F80; /* изменение цвета рамки при наведении на картинку */
 }

 

 @media screen and (max-width:920px) {
  .main{
    right: 400px;
  }
  
  }

  @media screen and (max-width:650px) {
    .header .menu_top{
      word-spacing: 30px;
      padding-right: 100px;
      
    }
  }

  @media screen and (max-width:920px) {
    h2{
      margin-right: 400px;
    }
  }